/* === For OptionButtons.tsx === */
/* オプションボタンのラッパー */
.option-buttons {
  /* 子要素を横並びに配置 */
  display: flex;
  /* 内余白(下) */
  padding-bottom: 5vh;
}

/* 各オプションボタン */
.option-button {
  /* 背景色 */
  background-color: var(--color-content-2);
  /* 枠線 */
  border: 1px solid ;
  /* 枠線の色 */
  border-color: var(--color-text);
  /* 高さ */
  height: 5vh;
  /* 幅 */
  width: 10%;
}

/* 各オプションボタン(ホバー時) */
.option-button:hover {
  /* 背景色 */
  background-color: var(--color-content-3);
}

/* 各オプションボタン(クリック時) */
.option-button:active {
  /* 背景色 */
  background-color: var(--color-content-1);
}

/* 各オプションボタン(非アクティブ時) */
.option-button:disabled {
  /* 背景色 */
  background-color: var(--color-content-2);
  /* カーソルを非アクティブに */
  cursor: not-allowed;
  /* 透明度 */
  opacity: 0.3;
}
/* ====== */

/* === For DropDown.tsx === */
/* ドロップダウンのラッパー */
.dropdown-term-wrapper {
  /* 外余白(下) */
  margin-bottom: 2vh
}

/* ドロップダウン */
.dropdown-term-select {
  /* 背景色 */
  background-color: var(--color-content-2);
  /* 高さ */
  height: 5vh;
  /* 幅 */
  width: 100px;
}
/* ====== */

/* === For Table.tsx === */
/* 一か月分の表 */
.one-month-table {
  /* 隣り合うボーダーの枠線を重ねる */
  border-collapse: collapse;
  /* 各列で列幅を指定 */
  table-layout: fixed;
  /* 幅 */
  width: 100%;
}

/* 先頭行以外のセル */
.one-month-table td,th {
  /* 枠線 */
  border: 1px solid;
  /* はみ出した分は表示しない */
  overflow: hidden;
  /* テキスト左寄せ */
  text-align: left;
  /* テキストはみ出しは3点リーダー */
  text-overflow: ellipsis;
  /* テキスト折り返しなし */
  white-space: nowrap;
}

/* 先頭行1列目 */
.one-month-table thead :nth-child(1) {
  width: 20px;
}

/* 先頭行2列目 */
.one-month-table thead :nth-child(2) {
  width: 60px;
}

/* 先頭行3列目 */
.one-month-table thead :nth-child(3) {
  width: 80px;
}

/* 先頭行4列目 */
.one-month-table thead :nth-child(4) {
  width: 80px;
}

/* 先頭行5列目 */
.one-month-table thead :nth-child(5) {
  width: 150px;
}

/* 先頭行6列目 */
.one-month-table thead :nth-child(6) {
  width: 80px;
}

/* 先頭行以外1列目 */
.one-month-table tbody tr :nth-child(1) {
  /* 中央揃え */
  text-align: center;
}

/* 先頭行以外6列目 */
.one-month-table tbody tr :nth-child(6) {
  /* 右揃え */
  text-align: right;
}
/* ====== */