/* 
  大きさはvh, vwもしくは%で指定
  ただし枠線とそこに関わる部分はpxで指定
*/

/* === For All === */
:root {
  --color-background-1: #efefef;
  --color-background-2: #e7e7e7;
  --color-content-1: #dfdfdf;
  --color-content-2: #cfcfcf;
  --color-content-3: #bfbfbf;
  --color-text: #2f2f2f;
  /* 背景色 */
  background-color: var(--color-background-1);
  /* スクロール不可 */
  overflow: hidden;
}

:root, button, input, textarea, select {
  /* フォント色 */
  color: var(--color-text);
  /* フォント */
  /* Helvetica Neue: macOS,iOS 欧文 */
  /* Helvetica Sans: macOS,iOS 和文 */
  /* Arial: win 欧文 */
  /* Yu Gothic: win 和文 */
  /* sans-serif: 総称 */
  font-family: "Helvetica Neue", "Hiragino Sans", "Arial", "Yu Gothic", sans-serif;
  /* フォントの最適化 */
  font-optical-sizing: auto;
  /* フォントサイズ */
  font-size: 14px;
  /* フォントの太さ */
  font-weight: 400;
}

select {
  /* デフォルトのスタイルを無効 */
  appearance: none;
  /* 高さ */
  height: 5vh;
  /* 幅 */
  width: 100px;
  /* 背景色 */
  background-color: var(--color-content-2);
}

.all-select-wapper {
  /* 子要素のposition: absoluteを効かせる */
  position: relative;
}

/* ドロップダウンの矢印 */
.all-select-wapper::after {
  /* 疑似要素を表示 */
  content: "";
  /* 親要素からの相対的な位置を指定し配置 */
  position: absolute;
  /* 親要素からの相対的な位置 */
  top: 1.5vh;
  /* 親要素からの相対的な位置 */
  right: 10px;
  /* 高さ */
  width: 1.2vh;
  /* 幅 */
  height: 1.2vh;
  /* 枠線(矢印になる部分) */
  border-right: 2px solid var(--color-text);
  border-bottom: 2px solid var(--color-text);
  /* 回転 */
  transform: rotate(45deg);
}

select > option {
  /* 背景色 */
  background-color: var(--color-content-2);
}


/* ボタン */
button {
  /* 背景色 */
  background-color: var(--color-content-2);
  /* 枠線 */
  border: 1px solid ;
  /* 枠線の色 */
  border-color: var(--color-text);
  /* 高さ */
  height: 5vh;
  /* 最小幅 */
  min-width: 75px;
}

/* ボタン(ホバー時) */
button:hover {
  /* 背景色 */
  background-color: var(--color-content-3);
}

/* ボタン(クリック時) */
button:active {
  /* 背景色 */
  background-color: var(--color-content-1);
}

/* ボタン(非アクティブ時) */
button:disabled {
  /* 背景色 */
  background-color: var(--color-content-2);
  /* カーソルを非アクティブに */
  cursor: not-allowed;
  /* 透明度 */
  opacity: 0.3;
}

* {
  /* bodyのデフォルトのmarginを打ち消す */
  margin: 0;
  /* bodyのデフォルトのpaddingを打ち消す */
  padding: 0;
}
/* ====== */

/* ダークモード */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background-1: #1f1f1f;
    --color-background-2: #272727;
    --color-content-1: #2f2f2f;
    --color-content-2: #3f3f3f;
    --color-content-3: #4f4f4f;
    --color-text: #dfdfdf;
  }
}
