/* 
  ライトモード
    #efefef: 背景
    #dfdfdf: ボタン背景(押下時)
    #cfcfcf: ボタン背景
    #bfbfbf: ボタン背景(ホバー時)
    #2f2f2f: 境界、テキスト
  
  ダークモード
    #efefef: 境界、テキスト
    #4f4f4f: 背景
    #3f3f3f: ボタン背景(押下時)
    #282828: ボタン背景
    #0f0f0f: ボタン背景(ホバー時)
*/

:root {
  font-family: "Inter", "Avenir", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  color: #2f2f2f;
  background-color: #efefef;
}

* {
  /* bodyのデフォルトのmarginを打ち消す */
  margin: 0;
  padding: 0;
}

/* 全体 */
.container {
  margin: 1vh 1vw 1vh 1vw;
  border: 2px solid;
  border-color: #2f2f2f;
  padding: 2vh 2vw 2vh 2vw;
  height: 98vh;
  /* heightにborder, paddingを含める */
  box-sizing: border-box;
  /* 子要素の柔軟な配置 */
  display: flex;
  /* 子要素を縦に配置 */
  flex-direction: column;
  /* 子要素を上詰めに配置 */
  justify-content: flex-start;
  /* 子要素を中央揃えに配置 */
  align-items: flex-start;
}

/* ディスプレイ */
.displays {
  height: 80vh;
  width: 100%;
}

.display {
  display: none;
}

.display-show {
  display: block;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #efefef;
    background-color: #4f4f4f;
  }

  .container {
    border-color: #efefef;
  }
}
