/* タブ全体 */
.tabs-wrapper {
  border-top: 2px solid #2f2f2f;
  height: 14vh;
  width: 100%;
  /* 子要素を横に配置 */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* タブ */
.tab {
  margin: 0.5vh;
  height: 13vh;
  width: 20%;
  /* tab::after, tab::beforeのための設定 */
  position: relative;
  /* 前面に移動 */
  z-index: 1;
}

/* タブ右下の装飾 */
.tab::after {
  border-right: 1px solid #2f2f2f;
  border-bottom: 1px solid #2f2f2f;
  height: 5vh;
  width: 30%;
  /* 疑似要素の内容 */
  content: "";
  /* 位置取り */
  position: absolute;
  bottom: -1px;
  right: -1px;
  /* 背面に移動 */
  z-index: -1;
}

/* タブラベル */
.tab-label {
  height: 100%;
  width: 100%;
  background-color: #cfcfcf;
  /* 丸角 */
  border-radius: 20% 20% 0% 20% / 40% 40% 0% 40%;
  /* テキストの中央配置 */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* タブラベルホバー時 */
.tab-label:hover {
  background-color: #bfbfbf;
}

.tab-button {
  display: none;
}

/* タブ選択時 */
.tab-button:checked + .tab-label {
  margin: 0;
  background-color: #dfdfdf;
}

.tab:has(.tab-button:checked) {
  margin-top: 0;
}

.tab.tab:has(.tab-button:checked)::before {
  margin-top: -2px;
  border-left: 2px solid #2f2f2f;
  border-right: 2px solid #2f2f2f;
  height: 20%;
  width: 100%;
  background-color: #efefef;
  /* 位置取り */
  position: absolute;
  top: 0px;
  /* 疑似要素の内容 */
  content: "";
  /* 前面に移動 */
  z-index: -1;
}

@media (prefers-color-scheme: dark) {
  .tabs-wrapper {
    border-color: #efefef;
  }

  .tab::after {
    border-color: #efefef;
  }

  .tab-label {
    background-color: #282828;
  }

  .tab-label:hover {
    background-color: #0f0f0f;
  }

  .tab-button:checked + .tab-label {
    background-color: #3f3f3f;
  }

  .tab.tab:has(.tab-button:checked)::before {
    border-left-color: #efefef;
    border-right-color: #efefef;
    background-color: #4f4f4f;
  }
}